<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 第一部分：必须 -->
        <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
         <property name="hibernate.connection.url">jdbc:mysql:///spring_day04</property>
         <property name="hibernate.connection.username">root</property>
         <property name="hibernate.connection.password">13688377585</property>-->

        <!-- 第二部分，可选 -->
        <!--  default false-->
        <!-- 输出底层sql语句 -->
        <property name="show_sql">true</property>
        <!-- 输出底层sql语句格式 -->
        <property name="format_sql">true</property>
        <!-- hibernate帮创建表，
         update：如果已经有表，更新，如果没有，创建-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 配置数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>




        <mapping resource="User.hbm.xml"/>
        <mapping resource="Docu.hbm.xml"/>
        <mapping resource="Paper.hbm.xml"/>
        <mapping resource="Que.hbm.xml"/>
        <mapping resource="Reading.hbm.xml"/>
    </session-factory>
</hibernate-configuration>